
* {
    box-sizing: border-box;
}

.generator {
    border: 2px solid rgb(110, 219, 137);
    background-color: lightsalmon;
    text-align: center;
    width: 300px;
    padding: 15px;
    font-size: 1.3em;
    cursor: pointer;
    user-select: none;
}

.generator.locked {
    background-color: rgb(206, 95, 95)
  }

.generators-container {
    display: flex;
    width: 600px; 
    flex-wrap: wrap;
    margin: auto;
}

#currency {
    margin: 40px;
    font-size: 3em;
    text-align: center;
}