
* {
    box-sizing: border-box;
}

body {
    color: rgb(22, 22, 22);
    background-color: rgb(22, 22, 22);
}

.masin {
    border: 3px solid rgb(94, 212, 124);
    background-color: lightsalmon;
    text-align: center;
    width: 250px;
    padding: 15px;
    font-size: 1.3em;
    margin: auto;
    cursor: pointer;
    user-select: none;
}

#gen9, #gen10 {
    border: 3px solid rgb(59, 228, 82);
    background-color: lightsalmon;
    text-align: center;
    width: 250px;
    padding: 15px;
    font-size: 1.3em;
    margin: auto;
    cursor: pointer;
    user-select: none;
}

.masin.lukus, #gen9.lukus, #gen10.lukus {
    background-color: rgb(184, 68, 68);
    cursor: not-allowed
}

.masinate-nupud {
    display: flex;
    flex-wrap: wrap;
    width: 600px; 
    margin: auto;
}

#rahaühik {
    margin: 35px;
    font-size: 3em;
    text-align: center;
    color: blueviolet
}

#seletus {
    margin: 18px;
    font-size: 1.75em;
    text-align: center;
    color: indigo;
}

#seletus2 {
    margin: 13px;
    font-size: 1.4em;
    text-align: center;
    color: teal;
}

#seletus3 {
    margin: 10px;
    font-size: 1.25em;
    text-align: center;
    color: steelblue;
}
