
* {
    box-sizing: border-box;
}

.generator {
    border: 2px solid darkslategrey;
    background-color: lightsalmon;
    text-align: center;
    width: 300px;
    padding: 15px;
    font-size: 1.3em;
    cursor: pointer;
}

.generators-container {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    margin: auto;
}

#currency {
    margin: 40px;
    font-size: 3em;
    text-align: center;
}